<header>
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li class="logo"><a href="/" class="valign-wrapper">Step-o-Meter</a></li>
        <hr />
        <li class="<%= path === '/steps/add' ? 'active' : '' %>">
            <a href="/steps/add">Add Step</a>
        </li>
        <li class="<%= path === '/steps-history' ? 'active' : '' %>">
            <a href="/steps-history">View History</a>
        </li>
        <li class="<%= path === '/weather-data' ? 'active' : '' %>">
            <a href="/weather-data">Weather Data</a>
        </li>
    </ul>
</header>