<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <header>
            <nav class="teal lighten-2" role="navigation">
                <div class="nav-wrapper container">
                    <a id="logo-container" href="#" class="brand-logo center">
                        Step-o-Meter
                    </a>
                </div>
            </nav>
        </header>

        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <h1 class="header center orange-text">Hello <%= name %>!</h1>
                <div class="row center">
                    <h5 class="header col s12 light">
                        This is a web application that helps you keep track of your steps.
                    </h5>
                </div>
                <div class="row center">
                    <a href="/steps/add" id="download-button"
                        class="btn-large waves-effect waves-light">Get Started</a>
                </div>
                <br><br>

            </div>
        </div>

<%- include('./includes/end.ejs') %>